<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-12 col-sm-8">
		<div class="jumbotron" style="font-size:100%">
			<button data-ng-click="addForm()">add</button>
		</div>
		<!--/row-->
	</div>
	<!--/span-->
</div>
<!-- Modal -->
<div class="modal fade" id="addVaccineformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Vaccine</h4>
			</div>
			<div class="modal-body">
				
			</div>
			
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="resetForm()">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createVm(vmModel)" >Send</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>